<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.danico.whoru">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.AppBarOverlay">
        <activity
            android:name=".SliderPagerActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatchFaceActivity"
            android:label="MatchFace"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".API.APIConfigActivity"
            android:label="@string/title_activity_apiconfig"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".API.APIAddTeacherActivity"
            android:label="@string/title_activity_apiadd_teacher"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".API.APIListGalleryActivity"
            android:label="@string/title_activity_apilist_gallery"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddTeacherActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_add_teacher"></activity>
    </application>

</manifest>